@import variables
*
    box-sizing: border-box
html,
body
    margin: 0px
    padding: 0px
    font-size: 1.2rem
    line-height: 1.4
    font-family: 'Raleway', sans-serif
    color: $text
    
a
    color: inherit
    
